@font-face {
	font-family: Mohave;
	src: url(../assets/mohave-light.woff2), url(../assets/mohave-light.woff);
}
@font-face {
	font-family: Mohave;
	font-weight: 700;
	src: url(../assets/mohave-bold.woff2), url(../assets/mohave-bold.woff);
}

:root {
	--background: #272727;
	--text-color: #fff;
}

body {
	font-size: 16px;
	line-height: 1.25;
	font-family: Mohave;

	background-color: var(--background);
	color: var(--text-color);
	margin: 160px auto 80px auto;
	width: 800px;
}

header {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 24px 48px;
}

h1 {
	font-size: 24px;
	font-weight: bold;
	max-width: 400px;
	background: url(../assets/temp.svg);
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding: 0 0 0 64px;
}

text {
	fill: var(--text-color);
	text-anchor: end;
}

text.city {
	font-size: 32px;
	font-weight: 700;
}

text.country {
	opacity: 0.8;
}

text.temp {
	text-anchor: middle;
	dominant-baseline: middle;
	font-size: 18px;
	font-weight: 700;
	opacity: 0;
  transition: opacity 0.25s;
}

circle {
	fill: var(--text-color);
	opacity: 0;
  transition: opacity 0.25s;
}

path {
	stroke: var(--text-color);
	fill: none;
	stroke-width: 4px;
  transition: opacity 0.25s;
}

g.data-point:hover circle {
	opacity: 1;
}
g.data-point:hover text.temp {
	opacity: 1;
}

g.data-point:hover path {
	opacity: 0;
}
